/* Style the tab headers */
.toggle-button {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.toggle-button:hover {
	-fx-cursor: hand;
	-fx-border-width: 0 0 2 0; /* 2px border at the bottom, 0px for other sides */
    -fx-border-color: black; /* Border color */
}

.toggle-button:selected {
	-fx-text-fill: #1668e3;
	-fx-border-width: 0 0 2 0; /* 2px border at the bottom, 0px for other sides */
    -fx-border-color: #1668e3; /* Border color */
}

.toggle-group {
	-fx-background-color: white;
	-fx-alignment: CENTER;
}

.searchBtn {
	-fx-color: #1668e3;
}

.overviewModule {
	 -fx-margin: 80;
    -fx-padding: 50;
}

.overview-category {
    -fx-background-color: #E0E0E0;
    -fx-padding: 20px;
}

.overview-grid {
    -fx-padding: 10px;
}

.overview-content, .billings-content {
    -fx-padding: 20px;
}

.load-button {
	
}

.transaction-table {
	
}

.overview-table {
	
}
